{{ form_start(form) }}
{{ form_widget(form) }}
<div class="input-field col s12 l6">
    <input id="author" type="text" class="validate"name="name">
    <label for="author">Votre Nom</label>
</div>
<div class="input-field col s12 l6">
    <input id="email" type="email" class="validate" name="email">
    <label for="email">Votre Email</label>
</div>
<button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" style="margin-top: 20px;">{{ button_label|default('Validez la campagne') }}</button>
{{ form_end(form) }}