{% extends 'base.html.twig' %}

{% block title %}Campaign{% endblock %}

{% block body %}

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text light">{{ campaign.title }}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">- Organisée par : Nom de l'auteur -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/assets/images/8.jpg" alt="Titre de la campagne"></div>
    </div>

    <!-- Show progress -->
    <section class="progress-section">
        <div class="progress">
            <div class="determinate" style="width: {{goal}}%">
                <span>
                    {{goal}}% de l'objectif</span></div>
        </div>
    </section>

    <div class="container participe">
        <div class="section">
            <!-- Participation section -->
            <div class="row">
                <div class="card col s12 m12 l8 offset-l2">
                    <div class="card-content">
                        <form action=" {{ path('campaign_pay', {'id' : campaign.id} ) }}">
                            <div class="input-field col s12 l6">
                                <input id="amountParticipant" type="number" name="amountParticipant" class="validate">
                                <label for="amountParticipant">
                                    Votre Payement
                                </label>
                            </div>
                            <button class="btn-large waves-effect waves-light pink lighten-1 col s12 l6">Payer</button>
                            <div class="clearfix"></div>
                        </form>
                        <form action=" {{ path('campaign_spend', {'id' : campaign.id} ) }}">
                            <div class="input-field col s12 l6">
                                <input id="amountParticipant" type="number" name="amountParticipant" class="validate">
                                <label for="amountParticipant">
                                    Votre Depense
                                </label>
                            </div>
                            <button class="btn-large waves-effect waves-light pink lighten-1 col s12 l6">Participer</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <h4>A propos de la campagne</h4>
                </div>
            </div>
            <!-- Icon Section -->
            <div class="row">
                <div class="col s12 m6 l3 offset-l3">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white">
                            <i class="material-icons teal-text">person</i>
                        </div>
                        <h3 class="center">
                            {{participants}}
                        </h3>
                        <p class="light">Participants</p>
                    </div>
                </div>

                <div class="col s12 m6 l3">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white">
                            <i class="material-icons teal-text">redeem</i>
                        </div>
                        <h3 class="center">
                            {{totalAmount2}}
                        </h3>
                        <p class="light">euros récoltés</p>
                    </div>
                </div>
            </div>
            <!-- Form section -->
            <div class="row">
                <form>
                    <div class="input-field col s12">
                        <label for="description">Description</label>
                        <textarea id="description" class="materialize-textarea" readonly="readonly">
                            {{campaign.content}}
                        </textarea>
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="goal" type="number" readonly="readonly" value="{{campaign.goal}}">
                        <label for="goal">Objectif</label>
                    </div>
                    <div class="col s12 l6 offset-l3">
                        <button href="{{ path('campaign_edit', {'id': campaign.id}) }}" class="btn btn-large waves-effect waves-light col s12">
                            Modifiez la campagne
                            <i class="material-icons right">edit</i>
                        </button>
                    </div>
                </form>
            </div>
            <!-- List -->
            <div class="row">
                <div class="col s12 center">
                    <h4>Liste des participants</h4>
                </div>
                <div class="col s12">
                    <table class="highlight responsive-table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Participation</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for participant in participantWithParticipations %}
                                <tr>
                                    <td>
                                        {{participant.name}}
                                    </td>
                                    <td>
                                        {{participant.email}}
                                    </td>
                                    <td>
                                        {% if participant.spending_label %}
                                            
                                            {{ participant.spending_label }}
                                            
                                        {% endif %}
                                        {{    (participant.payment_amount + participant.spending_amount)/100}}
                                        &euro;

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td rowspan='3'>Pas de participants</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a >edit</a>

    {{ include('campaign/_delete_form.html.twig') }}
{% endblock %}