{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h4>Participez en quelques secondes</h4>
                </div>
            </div>
            <!-- Form Section -->
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <form id="payment-form" method="post" action="{{path('spending')}}">
                            <input type="hidden" name="campaign_id" value="{{campaign.id}}">
                            <h5 class="center">Votre identité</h5>
                            <div class="input-field col s12 l6">
                                <input id="email" name="email" type="email" class="validate">
                                <label for="email">Votre Email</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="name" name="name" type="text" class="validate">
                                <label for="name">Votre nom</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="amount" name="amount" type="number" class="validate" value="{{amountParticipant|default(0)}}">
                                <label for="amount">Votre participation</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="content" name="content" type="text" class="validate">
                                <label for="content">Description de votre participation</label>
                            </div>

                            <div class="clearfix"></div>
                            <h5 class="center">Paiement</h5>

                            <div class="input-field col s12 l6">
                                <a href="#!" class="btn btn-large waves-effect waves-light grey col s12">Annuler</a>
                            </div>
                            <div class="input-field col s12 l6">
                                <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit">
                                    Participer
                                    <i class="material-icons right">euro_symbol</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}